@charset "utf-8";
/*reset*/
html{color:#000;background:#FFF;height: 100%;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
a{color:#000; text-decoration: none;}
a:hover{color: #000;text-decoration: underline;}
input, textarea{outline: none;}
.hidden{display:none;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}
.clearfix{*zoom:1;}
.fl{float: left;}
.fr{float: right;}
.fn{float: none;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.tl{text-align: left;}
.tr{text-align: right;}
.tc{text-align: center;}
body{font-size: 12px;font-family:"Microsoft YaHei","宋体";position: relative;}
.ico,.focus_slide .btn a,.top_bar .nav ul li a,.top_bar .sub_nav li a{background-image: url(../images/icons.png); background-repeat: no-repeat; display: inline-block;}



.wrapper{
	min-width: 1024px;
	margin: 0 auto;
	position: relative;
}
.top_line_bg{
	position: absolute;
	width: 100%;
	background: url(../images/top_line_bg.png) repeat-x;
	height: 10px;
	z-index: 9;
}
.header{
	width: 1000px;
	margin:0 auto;
	height: 103px;
	background: #efeff0;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	position: absolute;
	top: 20px;
	overflow: hidden;
	zoom:1;
	z-index: 10;
	left: 0;
	right: 0;
}
.header .logo{
	float: left;
	width: 171px;
	height: 103px;
}
.top_bar{
	float: left;
	background: #efeff0 url(../images/top_bar_bg.png) repeat-x left top;
	width: 829px;
	position: relative;
	height: 103px;
}
.top_bar .nav{
	height: 55px;
}
.top_bar .nav ul{
	margin: 13px 0 0 20px;
}
.top_bar .nav ul li{
	width: 105px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 10px;
	float: left;
}
.top_bar .nav ul li a{
	text-decoration: none;
	display: block;
	color: #6b6c6c;
}
.top_bar .nav ul li a:hover,.top_bar .nav ul li a.current{
	background-position: 0 -45px;
	color: #fff;
}
.top_bar .sub_nav {
	margin-left: 25px;
	color:#6d6e6e;
	padding-top: 10px;
}
.top_bar .sub_nav li{
	float: left;
	margin-right: 40px;
	padding-bottom: 10px;
}
.top_bar .sub_nav li a{
	color: #6d6e6e;
	background-position: 0 -135px;
	padding: 0 5px 7px 20px;
	text-decoration: none;
}
.top_bar .sub_nav li a:hover,.top_bar .sub_nav li a.current{
	background-position: 0 -159px;
	border-bottom: 2px solid #228c99;
	color: #208997;
}
.search_bar{
	width: 190px;
	height: 30px;
	line-height: 30px;
	border:1px solid #dee2e2;
	border-radius: 15px;
	background: #e2e9e8;
	position: absolute;
	right: 20px;
	top: 17px;
}
.search_bar input{
	border:0;
	background: transparent;
	padding-left: 8px;
}
.search_bar .search_btn{
	position: absolute;
	right: -2px;
	top: -1px;
	background-position: 0 -95px;
	width: 34px;
	height: 32px;
	cursor: pointer;
}

/*footer*/
.footer{background: #076e71 url(../images/footer_bg.jpg) repeat-x left top;padding-bottom: 20px;font-size:12px;color:#96a1a3;padding-top: 30px;}
.footer .col-1{float: left;margin-right: 20px;}
.footer .col-2 p{line-height: 18px;vertical-align: middle;padding-top: 10px;}
.footer .col-2{font-family: Arial; font-style: italic;}
.footer .container{clear: both;overflow: hidden;zoom:1;width: 1000px;margin: 0 auto;}
.footer strong{color: #fff;font-size: 30px; font-style: italic;margin-right: 20px;position: relative;top: 5px;}
.footer .scan{vertical-align: middle;float: left;margin-right: 15px;}

/*index hero*/
.focus_slide{ position: relative;z-index: 3;margin: 0 auto;width: 1000px;height: 815px;overflow: hidden;width: 100%;}
.focus_slide ul{position: absolute;left: 0; top: 0;width: 100%;height: 815px;}
.focus_slide ul li{float: left;height: 815px;overflow: hidden;width: 100%;background-position: center center;min-width: 1000px;background-repeat: no-repeat;}
.focus_slide ul li a{width: 100%;height: 100%;display: block;}
.focus_slide .btn{position: absolute;bottom:10px;left:50%;}
.focus_slide .btn a{display: inline-block;width: 20px;height: 20px;margin:0 5px;background-position: -39px -95px;cursor: pointer;}
.focus_slide .btn a.on{background-position: -64px -95px;}


.service_center{
	position: relative;
	top: 0px;
	margin: -150px auto 36px;
	z-index: 99;
	width: 1004px;
	padding-top: 15px;
	padding-left: 20px;
	background: url(../images/service_center_bg.png) no-repeat;
}
.service_center a{
	margin-right: 3px;
}
.page_module_list{
	background: #f7f7f7;
}
.page_module_list .banner{
	background: url(../images/list_banner.jpg) no-repeat center top;
	height:486px;
}
.main_container{
	background: url(../images/dot_bg.png) repeat-x bottom center;
	position: relative;
	margin-top: -160px;
	padding-bottom: 15px;
}
.main_container .inner{
	width: 970px;
	padding: 15px;
	margin: 0 auto;
	position: relative;
	box-shadow: 1px 1px 5px rgba(194,198,199,0.8);
	background: #fff;
}
.main_container .headquarters_thumb{
	position: absolute;
	right: 20px;
	top: -10px;
	z-index: 2;
}
.main_container .headline{
	padding: 10px 0 0 10px;
	border-bottom: 2px solid #00a29a;
	position: relative;
}
.main_container .headline .adorn_line{
	height: 10px;
	background: #00a29a;
	width: 50%;
	position: absolute;
	bottom: -11px;
	left: 0;
}
.main_container .headline span{
	display: block;
}
.main_container .headline .cn{
	color: #6a6c6b;
	font-size: 36px;
}
.main_container .headline .en{
	font-size: 60px;
	color: #00a29a;
	font-family: Arial;
}
.product_list {
	background: #f2f8f9;
	color: #898989;
	padding: 60px 15px 15px;
}
.product_list h2 span{
	display: block;
	font-family: Arial;
}
.product_list h2 .cn{
	color: #00a29a;
	font-size: 20px;
}
.product_list h2 .en{
	color: #898989;
	font-size: 26px;
}
.product_list li{
	background: #fff;
	border:1px solid #eeefef;
	width: 263px;
	height: 316px;
	padding: 15px;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 0 0 20px 15px;
}
.product_list li img{
	margin-top: 10px;
}
.product_list li p{
	line-height: 26px;
	margin: 1em 0;
}








