
@font-face {
  font-family: 'PFDinTextCompPro-Regular';
  src: url('../fonts/PFDinTextCompPro-Regular.eot');
  src: url('../fonts/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PFDinTextCompPro-Regular.woff') format('woff'),
       url('../fonts/PFDinTextCompPro-Regular.ttf') format('truetype'),
       url('../fonts/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



