/*index hero*/
.focus_slide{ position: relative;z-index: 3;margin: 0 auto;width: 1000px;height: 459px;overflow: hidden;width: 100%;}
.focus_slide ul{position: absolute;left: 0; top: 0;width: 100%;height: 459px;}
.focus_slide ul li{float: left;height: 459px;overflow: hidden;width: 100%;background-position: center center;min-width: 1000px;background-repeat: no-repeat;}
.focus_slide ul li a{width: 100%;height: 100%;display: block;}
.focus_slide .btn{position: absolute;bottom:30px;right: 300px;}
.focus_slide .btn a{display: inline-block;width: 39px;height: 37px;margin:0 5px;background-position: 0 -115px;cursor: pointer;}
.focus_slide .btn a.on{background-position: 0 -73px;}


/*feaute*/
.feature{width: 100%;height: 158px;background: url(../images/feature_bg.png) repeat-x;}
.feature .container{padding-top: 29px;}
.feature .container .item{width: 240px;float: left;font-size:20px;color: #666;position: relative;cursor: pointer;height: 100px;overflow: hidden;background: url(../images/feature_line.png) repeat-y right center;padding: 0 5px;}
.feature li .hd{text-align: center;display: none-;}
.feature .container > li.hover{background: #3aa2a2;color: #fff;}
.feature li.item .bd{line-height: 18px;font-size:14px;clear: both;overflow: hidden;zoom:1;background:#3aa2a2;height: 100px;width: 230px;margin: 0 auto;}
.feature li.item .bd a{color: #fff;}
.feature li.item .bd ul{position: relative;top: 50%;}
.feature li.item .bd li{width: 50%;float: left;padding: 3px 0;text-align: center;}
.feature .container > ul{background: url(../images/feature_line.png) repeat-y 0 29px;display: inline-block;width: 100%;}
.feature .ico{display: block;width: 45px;height: 42px;margin: 0 auto 5px;}
.feature .ico_policy{background-position: -50px -216px;}
.feature .ico_money{background-position: -50px -168px;}
.feature .ico_service{background-position: 0 -216px;}
.feature .ico_incubator{background-position: 0 -168px;}
.feature .hd p{font-size: 12px;color: #010101;margin-top: 5px;line-height: 24px;}


/*news*/
.news { height: 500px;overflow: hidden;}
.news .tab_content ul{padding-bottom: 20px;margin-top: 15px;clear:both;}
.news .tab_content ul{display: none;padding-bottom: 20px;margin-top: 15px;}
.news .tab_content ul.active{display: block;}
.news .tab_content li{overflow: hidden;zoom:1;border:1px solid #fff; border-bottom: 1px solid #dfdfdf;}
.news .tab_content li>a{display: block;border:6px solid #fff;height: 80px;background: #fff;padding: 6px;}
.news .tab_content li>a:hover{text-decoration: none;border:6px solid #f3f3f3;}
.news .tab_content li:hover{/*background: #fff;*/border:1px solid #dfdfdf;}

/*sidebar*/
.sidebar .login{ padding:20px 0;background: #fafafa;border:1px solid #dfdfdf;margin-top: 10px;height: 442px;}
.sidebar .hd{ font:18px "Microsoft YaHei";color: #000; padding-left: 20px;}
.sidebar .bd{text-align: center;}
.sidebar .bd form{padding: 20px;}
.sidebar .loginName,.sidebar .password{width: 194px;height: 38px;line-height: 38px;border:1px solid #dfdfdf;margin-bottom: 10px;padding-left: 32px;}
.sidebar .loginName{background: url(../images/admin.png) no-repeat 9px center}
.sidebar .password{background: url(../images/password.png) no-repeat 9px center}
.sidebar .remember{text-align: left;}
.sidebar .remember a{float: right;color:#e5503c;}
.sidebar .login_btn{font-size: 14px;width:100%;height: 40px;line-height: 40px;border:0;color: #fff;background: #3aa2a2;margin-top: 20px;}
.sidebar .no_id{margin-top:10px;text-align: left;padding-left: 20px;}
.sidebar .loginBy {border-top:1px solid #dfdfdf;overflow: hidden;}
.sidebar .loginBy h5{margin: 25px 0;font:16px "Microsoft YaHei";}
.sidebar .loginBy .list{clear: both;overflow: hidden;zoom:1;width: 100%;padding-left: 15px;}
.sidebar .loginBy li{float: left;padding:0 0 10px 15px;}


/*service*/
.services {clear:both;background: #ededed;height: 433px;margin-top: 20px;border-bottom: 1px solid #dddddd;}
.services .modle_con{width: 100%;overflow: hidden;zoom:1; clear: both;}
.services .tab_content .list{display: none;}
.services .tab_content .list.active{display: block;}
.services .tab_content .s_item li{overflow: hidden;zoom:1;border:1px solid #ececec;}
.services .tab_content .s_item li>a{display: block;border:6px solid #ececec;height: 80px;background: #ededed;padding: 6px;}
.services .tab_content .s_item li>a:hover{text-decoration: none;border:6px solid #f3f3f3;}
.services .tab_content .s_item li:hover{border:1px solid #dfdfdf;}
.services .s_item{float: left;width: 705px;margin-right: 20px;padding-bottom: 20px;margin-top: 15px;}

.services .hot_list{height: 329px;border-bottom:0; border-top:0; margin-top:0;float: right;}


/*park_overview*/
.park_overview {clear:both;margin-top: 20px;}
.park_overview .modle_con{width: 100%;overflow: hidden;zoom:1; clear: both;}
.park_overview .tab_content .list{display: none;}
.park_overview .tab_content .list.active{display: block;}
.park_overview .tab_content .s_item li{overflow: hidden;zoom:1;padding-top: 20px;border-top: 1px solid #f0f0f0;margin-top: 20px;}
.park_overview .tab_content .s_item li:first-child{border-top:0;margin-top: 2px;}
.park_overview .s_item{float: left;width: 705px;margin-right: 20px;padding-bottom: 20px;}

.park_overview  .video_list{float: right;width: 275px;padding-top: 20px;}
.park_overview  .video_list li{margin-bottom: 8px;}

/*weibo_trends*/
.weibo_trends{border:1px solid #dfdfdf;background: #fafafa;padding:25px 0;margin-top: 20px;}
.weibo_trends h4{font-size: 18px; color: #000;margin-bottom: 20px;padding:0 25px;}
.weibo_trends .attention{color: #000; background: #fff;border:1px solid #dfdfdf; text-align: center;padding:20px 0;margin: 0 25px;}
.weibo_trends .link{padding: 0 10px;overflow: hidden;zoom:1; margin: 0 25px;}
.weibo_trends .link a{display: inline-block;}
.weibo_trends .link a span{display: inline-block;margin:0;position: relative;margin-right: 3px;}
.weibo_trends .link .follow{background: #3aa2a2;color: #fff;padding:5px 10px; float: right;margin-top: 5px;}
.weibo_trends  .list{border-top:1px solid #dfdfdf;color:#666;font: 12px "宋体";margin-top: 25px;}
.weibo_trends  .list li{padding:0 36px;margin: 30px 0;line-height: 20px;}
.weibo_trends li a{text-decoration: underline;}


/* related*/
.hot_list.related{width: auto;height: auto;border:0;padding: 0; background: #fff;border-top:1px solid #dfdfdf;padding-top: 40px;margin: 0 0 60px;}
.hot_list.related h5{font-size: 14px;color: #000;margin-bottom: 10px;}

#list_banner{width: 100%;min-width: 1000px;background: url(../images/list_banner.jpg) no-repeat center top; height: 232px;}












